*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family: Arial, sans-serif;
background:#0f172a;
color:white;
line-height:1.7;
}

section{
min-height:100vh;
padding:40px 20px;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.container{
max-width:1000px;
margin:auto;
}

.hero{
min-height:100vh;
display:flex;
align-items:center;
justify-content:center;
background:
linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
url("imagens/capa1.jpg");
background-size:cover;
background-position:center 25%;
}

.hero h1{
font-size:3rem;
margin-bottom:20px;
}

.hero p{
font-size:1.2rem;
margin-bottom:30px;
}

.botao{
display:inline-block;
padding:15px 30px;
background:#ff4d8d;
color:white;
text-decoration:none;
border-radius:50px;
}

.card{
background:#1e293b;
padding:25px;
border-radius:20px;
margin-top:20px;
}

.galeria{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
margin-top:30px;
}

.galeria img{
width:100%;
border-radius:20px;
}

.contador{
font-size:2rem;
font-weight:bold;
margin-top:20px;
color:#ff8db8;
}

.carta{
max-width:700px;
margin:auto;
text-align:left;
background:#1e293b;
padding:30px;
border-radius:20px;
}

.final{
min-height:100vh;
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
}

.final h2{
font-size:3rem;
margin-bottom:20px;
}

.coracao{
position:fixed;
font-size:24px;
pointer-events:none;
animation:subir 4s linear forwards;
z-index:9999;
}

@keyframes subir{

0%{
transform:translateY(0);
opacity:1;
}

100%{
transform:
translateY(-120vh)
translateX(30px);
opacity:0;
}

}

.contador-grid{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
margin-top:20px;
}

.contador-grid div{
background:#1e293b;
padding:15px;
border-radius:15px;
min-width:90px;
}

.contador-grid strong{
font-size:2rem;
display:block;
color:#ff8db8;
}
